/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import "https://www.nerdfonts.com/assets/css/webfont.css";

i {
  color: rgb(115 130 175 / 95%);
  margin-right: 7px;
}

body {
  color: #c0caf5;
  font-family: ui-monospace, monospace;
  font-size: 12px;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
}

#root {
  margin: 4px 4px;
  border-radius: 8px;
  background: #15161e;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 0.75vw;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.logo,
.binding-mode,
.tiling-direction {
  margin-right: 20px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: #414868;
  margin-right: 4px;
  padding: 4px 8px;
  color: #c0caf5;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &.displayed {
    background: #e0af68;
    color: #ffffff;
  }

  &.focused,
  &:hover {
    background: #e0af68;
    color: #ffffff;
  }
}

.binding-mode,
.tiling-direction {
  background: #9ece6a;
  color: #ffffff;
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}

.nf-md-skull_scan {
  color: #f7768e;
}
